
.CustomRadioGroup{
    display: flex;
    gap: 20px;
    align-items: center;
    width: fit-content;
    .CustomRadioBtn{
        width: 26px;
        height: 26px;
        border-radius: 50%;
        border: solid 1px $DarkGray;
        display: flex;
        justify-content: center;
        align-items: center;
        .CustomRadioCheck{
            width: 16px;
            height: 16px;
            background-color: $ModerateCyan;
            border-radius: 50%;
            display: none;
        }
        .CustomRadioCheck.Checked{
            display: block;
        }
    }
    .CustomRadioLabel{
        display: flex;
        align-items: center;
        @include breakpoint-down(small){
            flex-direction: column;
            align-items: flex-start;
        }
        &_Title{
            h3{
                font-size: 17px;
            }
        }
        &_Price{
            p{
                margin: 0;
                margin-left: 10px;
                color: $ModerateCyan;
                @include breakpoint-down(small){
                    margin: 0;
                }
            }
        }
    }

    &:hover{
        cursor: pointer;
        h3{
            color: $ModerateCyan;
        }
        .CustomRadioBtn{
            border: solid 1px $ModerateCyan;
        }
    }
}