@-webkit-keyframes slidein {
  0% {
    -webkit-transform: translateX(30%);
            transform: translateX(30%);
    opacity: 0;
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes slidein {
  0% {
    -webkit-transform: translateX(30%);
            transform: translateX(30%);
    opacity: 0;
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
    visibility: visible;
  }
}

.slidein {
  -webkit-animation: slidein 0.3s linear 0s forwards;
          animation: slidein 0.3s linear 0s forwards;
}

@-webkit-keyframes slideout {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
    visibility: visible;
  }
  99% {
    -webkit-transform: translateX(30%);
            transform: translateX(30%);
    opacity: 0;
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(30%);
            transform: translateX(30%);
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes slideout {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
    visibility: visible;
  }
  99% {
    -webkit-transform: translateX(30%);
            transform: translateX(30%);
    opacity: 0;
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(30%);
            transform: translateX(30%);
    opacity: 0;
    visibility: hidden;
  }
}

.slideout {
  -webkit-animation: slideout 0.3s linear 0s forwards;
          animation: slideout 0.3s linear 0s forwards;
}

@-webkit-keyframes fadeIn {
  0% {
    visibility: visible;
    opacity: 0;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fadeIn {
  0% {
    visibility: visible;
    opacity: 0;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

.fadeIn {
  -webkit-animation: fadeIn 0.3s linear 0s forwards;
          animation: fadeIn 0.3s linear 0s forwards;
}

@-webkit-keyframes fadeOut {
  0% {
    visibility: visible;
    opacity: 1;
  }
  99% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeOut {
  0% {
    visibility: visible;
    opacity: 1;
  }
  99% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.fadeOut {
  -webkit-animation: fadeOut 0.3s linear 0s forwards;
          animation: fadeOut 0.3s linear 0s forwards;
}

.CustomRadioGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.CustomRadioGroup .CustomRadioBtn {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: solid 1px #7a7a7a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.CustomRadioGroup .CustomRadioBtn .CustomRadioCheck {
  width: 16px;
  height: 16px;
  background-color: #3cb4ac;
  border-radius: 50%;
  display: none;
}

.CustomRadioGroup .CustomRadioBtn .CustomRadioCheck.Checked {
  display: block;
}

.CustomRadioGroup .CustomRadioLabel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 43.125em) {
  .CustomRadioGroup .CustomRadioLabel {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.CustomRadioGroup .CustomRadioLabel_Title h3 {
  font-size: 17px;
}

.CustomRadioGroup .CustomRadioLabel_Price p {
  margin: 0;
  margin-left: 10px;
  color: #3cb4ac;
}

@media (max-width: 43.125em) {
  .CustomRadioGroup .CustomRadioLabel_Price p {
    margin: 0;
  }
}

.CustomRadioGroup:hover {
  cursor: pointer;
}

.CustomRadioGroup:hover h3 {
  color: #3cb4ac;
}

.CustomRadioGroup:hover .CustomRadioBtn {
  border: solid 1px #3cb4ac;
}

.Header {
  width: 100%;
  height: 400px;
  background-image: url(../../images/image-hero-desktop.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: -95px;
}

@media (max-width: 43.125em) {
  .Header {
    height: 300px;
    background-image: url(../../images/image-hero-mobile.jpg);
    margin-bottom: -55px;
  }
}

.Header_Bar {
  padding: 48px 166px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 43.125em) {
  .Header_Bar {
    padding: 30px 23px;
  }
}

.Header_Bar_Logo {
  height: 20px;
  width: 130px;
  background: url(../../images/logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.Header_Bar_Nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Header_Bar_Nav a, .Header_Bar_Nav a:visited {
  font-size: 13px;
  font-weight: 700;
  color: white;
  text-decoration: none;
  line-height: 1.5;
}

.Header_Bar_Nav a:not(:last-child), .Header_Bar_Nav a:visited:not(:last-child) {
  margin-right: 30px;
}

.Header_Bar_Nav a:hover {
  cursor: pointer;
}

.Header_Bar_HamburgerBtn {
  z-index: 3;
}

.Header_Bar_HamburgerBtn span {
  display: block;
  width: 16px;
  height: 3px;
  background-color: white;
  margin-top: 3px;
  -webkit-transform-origin: 1px 2px;
          transform-origin: 1px 2px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.Header_Bar_HamburgerBtn:hover {
  cursor: pointer;
}

.Header_Bar_HamburgerBtn.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.Header_Bar_HamburgerBtn.open span:nth-child(2) {
  opacity: 0;
}

.Header_Bar_HamburgerBtn.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.Overlay {
  visibility: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(78, 78, 78, 0.37)), to(rgba(0, 0, 0, 0.73)));
  background: linear-gradient(0deg, rgba(78, 78, 78, 0.37) 0%, rgba(0, 0, 0, 0.73) 100%);
  z-index: 2;
}

.Overlay .HamburgerMenu {
  position: fixed;
  left: 7%;
  right: 7%;
  top: 90px;
  height: auto;
  background-color: white;
  border-radius: 0.6rem;
}

.Overlay .HamburgerMenu a {
  display: inline-block;
  width: 100%;
  padding: 23px;
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
}

.Overlay .HamburgerMenu a:not(:last-child) {
  border-bottom: solid 1px #7a7a7a;
}

.Overlay.open {
  visibility: visible;
}

.ProjectBrief {
  width: 730px;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  position: relative;
  border-radius: 7px;
  padding: 0px 54px;
  padding-bottom: 45px;
}

@media (max-width: 43.125em) {
  .ProjectBrief {
    width: 325px;
    padding: 0 23px;
    padding-bottom: 38px;
  }
}

.ProjectBrief_Logo {
  width: 56px;
  height: 56px;
  background-image: url(../../images/logo-mastercraft.svg);
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.ProjectBrief h1 {
  padding-top: 60px;
  font-size: 27px;
  letter-spacing: 0.5px;
  margin-bottom: 13px;
}

@media (max-width: 43.125em) {
  .ProjectBrief h1 {
    font-size: 20px;
    padding-top: 50px;
    margin-bottom: 18px;
  }
}

.ProjectBrief p {
  color: #7a7a7a;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0px;
  margin-bottom: 42px;
}

@media (max-width: 43.125em) {
  .ProjectBrief p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 28px;
  }
}

.ProjectBrief_BottomLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ProjectBrief_BottomLine_Bookmark:hover {
  cursor: pointer;
  opacity: 0.7;
}

.ProjectBrief_BottomLine_Bookmark_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-right: 25px;
  background-color: #EDEDED;
  color: #7a7a7a;
  border-radius: 27px;
}

@media (max-width: 43.125em) {
  .ProjectBrief_BottomLine_Bookmark_container {
    padding: 0;
  }
}

.ProjectBrief_BottomLine_Bookmark_container p {
  margin: 0;
  font-weight: 700;
}

@media (max-width: 43.125em) {
  .ProjectBrief_BottomLine_Bookmark_container p {
    display: none;
  }
}

.ProjectBrief_BottomLine_Bookmark_circle {
  height: 55px;
  width: 55px;
  background-color: #4F4F4F;
  margin-right: 17px;
  border-radius: 27px;
  background-image: url(../../images/icon-bookmark.svg);
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 43.125em) {
  .ProjectBrief_BottomLine_Bookmark_circle {
    margin: 0;
  }
}

.ProjectBrief_BottomLine_Bookmark.bookmarked .ProjectBrief_BottomLine_Bookmark_container {
  background-color: #FAFAFA;
}

.ProjectBrief_BottomLine_Bookmark.bookmarked .ProjectBrief_BottomLine_Bookmark_container p {
  color: #147b74;
}

.ProjectBrief_BottomLine_Bookmark.bookmarked .ProjectBrief_BottomLine_Bookmark_circle {
  background-color: #147b74;
  background-image: url(../../images/icon-bookmark_copy.svg);
}

.ProjectProgress {
  width: 730px;
  margin: 0 auto;
  background-color: white;
  position: relative;
  border-radius: 7px;
  padding: 48px 48px;
  padding-bottom: 45px;
  margin-top: 25px;
}

@media (max-width: 43.125em) {
  .ProjectProgress {
    width: 325px;
    padding: 0 23px;
    padding-bottom: 38px;
    padding-top: 38px;
  }
}

.ProjectProgress_grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 36px;
}

@media (max-width: 43.125em) {
  .ProjectProgress_grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.ProjectProgress_grid_col {
  padding-right: 33px;
  border-right: solid 1px #7a7a7a;
}

.ProjectProgress_grid_col:nth-child(2) {
  padding-left: 45px;
  padding-right: 88px;
}

@media (max-width: 43.125em) {
  .ProjectProgress_grid_col:nth-child(2) {
    padding: 0;
    padding-top: 20px;
    padding-bottom: 26px;
  }
}

.ProjectProgress_grid_col:nth-child(3) {
  padding-left: 45px;
  border-right: none;
}

@media (max-width: 43.125em) {
  .ProjectProgress_grid_col:nth-child(3) {
    padding: 0;
    padding-top: 18px;
    border: none;
  }
}

.ProjectProgress_grid_col strong {
  display: block;
  font-size: 33px;
  font-weight: 700;
  letter-spacing: 0.3px;
  margin-bottom: 10px;
}

@media (max-width: 43.125em) {
  .ProjectProgress_grid_col strong {
    font-size: 31px;
  }
}

.ProjectProgress_grid_col p {
  color: #7a7a7a;
}

@media (max-width: 43.125em) {
  .ProjectProgress_grid_col {
    border: none;
    text-align: center;
    padding: 0;
    border-bottom: solid 1px #7a7a7a;
    padding-bottom: 18px;
  }
}

.ProjectProgress_progressBar {
  height: 12px;
  width: 100%;
  background-color: #F4F4F4;
  border-radius: 5px;
  overflow: hidden;
}

.ProjectProgress_progressBar_progress {
  height: 100%;
  width: var(--progress);
  background-color: #3cb4ac;
  border-radius: 15px;
}

.ProjectDetailsPledge {
  width: 730px;
  margin: 0 auto;
  background-color: white;
  position: relative;
  border-radius: 7px;
  padding: 50px 47px;
  padding-bottom: 45px;
  margin-top: 25px;
}

@media (max-width: 43.125em) {
  .ProjectDetailsPledge {
    width: 325px;
    padding: 0 23px;
    padding-bottom: 38px;
    padding-top: 36px;
  }
}

.ProjectDetailsPledge h2 {
  margin-bottom: 36px;
  font-size: 20px;
  font-weight: 700;
}

@media (max-width: 43.125em) {
  .ProjectDetailsPledge h2 {
    margin-bottom: 23px;
  }
}

.ProjectDetailsPledge p {
  color: #7a7a7a;
  line-height: 1.92;
  font-size: 16px;
  display: block;
  margin-bottom: 22px;
}

.ProjectDetailsPledge p:nth-child(3) {
  margin-bottom: 45px;
}

@media (max-width: 43.125em) {
  .ProjectDetailsPledge p:nth-child(3) {
    margin-bottom: 40px;
  }
}

@media (max-width: 43.125em) {
  .ProjectDetailsPledge p {
    line-height: 1.5;
    margin-bottom: 0;
  }
}

.PledgeDetail {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5fr 0.5fr 1fr;
      grid-template-columns: 1.5fr 0.5fr 1fr;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
      grid-template-areas: "A B C" "D D D" "E F G";
  border: solid 1px #7a7a7a;
  border-radius: 5px;
  padding: 31px 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

@media (max-width: 43.125em) {
  .PledgeDetail {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto auto auto;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas: "A" "C" "D" "E" "G";
    padding: 20px 25px;
  }
}

.PledgeDetail p, .PledgeDetail h2 {
  margin: 0;
  padding: 0;
}

.PledgeDetail_Title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: A;
  margin-bottom: 20px;
}

@media (max-width: 43.125em) {
  .PledgeDetail_Title {
    margin-bottom: 0;
  }
}

.PledgeDetail_Price {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: C;
      justify-self: end;
  margin-bottom: 20px;
}

.PledgeDetail_Price p {
  color: #3cb4ac;
  font-weight: 500;
}

@media (max-width: 43.125em) {
  .PledgeDetail_Price {
    -ms-grid-column-align: start;
        justify-self: start;
  }
}

.PledgeDetail_Text {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: D;
  margin-bottom: 13px;
}

@media (max-width: 43.125em) {
  .PledgeDetail_Text {
    margin-bottom: 10px;
  }
}

.PledgeDetail_Text p {
  font-weight: 500;
}

@media (max-width: 43.125em) {
  .PledgeDetail_Text p {
    font-size: 14px;
    line-height: 1.8;
  }
}

.PledgeDetail_Left {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: E;
}

.PledgeDetail_Left strong {
  font-size: 30px;
  font-weight: 700;
  color: black;
}

@media (max-width: 43.125em) {
  .PledgeDetail_Left {
    margin-bottom: 19px;
  }
}

.PledgeDetail_Button {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: G;
  -ms-grid-column-align: end;
      justify-self: end;
}

.PledgeDetail_Button .button {
  height: 48px;
  line-height: 1;
  padding: 20px 35px;
  border-radius: 24px;
}

@media (max-width: 43.125em) {
  .PledgeDetail_Button {
    -ms-grid-column-align: start;
        justify-self: start;
  }
}

.PledgeDetail.OutOfStock {
  opacity: 0.35;
}

.PledgeDetail.OutOfStock .PledgeDetail_Button .button {
  background-color: #7a7a7a;
}

.PledgeDetail.OutOfStock .PledgeDetail_Button .button:hover {
  cursor: auto;
}

.ModalOverlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(78, 78, 78, 0.37)), to(rgba(0, 0, 0, 0.73)));
  background: linear-gradient(0deg, rgba(78, 78, 78, 0.37) 0%, rgba(0, 0, 0, 0.73) 100%);
  visibility: hidden;
  z-index: 4;
}

.ModalOverlay.Open {
  visibility: visible;
}

.ModalStep1 {
  position: absolute;
  width: 730px;
  scroll-behavior: auto;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 180px;
  background-color: white;
  border-radius: 0.6rem;
  padding: 53px 50px;
}

@media (max-width: 43.125em) {
  .ModalStep1 {
    width: 325px;
    padding: 0 23px;
    padding-bottom: 38px;
    padding-top: 36px;
  }
}

.ModalStep1 h2 {
  margin-bottom: 19px;
}

.ModalStep1 p {
  margin-bottom: 37px;
}

.ModalStep1 .cross {
  background-image: url(../../images/icon-close-modal.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 33px;
  right: 30px;
}

.ModalStep1 .cross:hover {
  background-image: url(../../images/icon-close-modal_copy.svg);
  cursor: pointer;
}

.ModalStep2 {
  position: absolute;
  width: 530px;
  scroll-behavior: auto;
  min-height: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 180px;
  background-color: white;
  border-radius: 0.6rem;
  padding: 53px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media (max-width: 43.125em) {
  .ModalStep2 {
    width: 325px;
    padding: 0 23px;
    padding-bottom: 38px;
    padding-top: 36px;
  }
}

.ModalStep2 .logoCheck {
  width: 80px;
  aspect-ratio: 1;
  background-image: url(../../images/icon-check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: #3cb4ac;
  border-radius: 50%;
  margin-bottom: 50px;
}

.ModalStep2 h2 {
  margin-bottom: 50px;
  font-size: 30px;
}

.ModalStep2 p {
  margin-bottom: 50px;
  color: #7a7a7a;
  line-height: 1.6;
}

.ModalStep1.hide {
  visibility: hidden;
}

.ModalStep2.hide {
  visibility: hidden;
}

.ModalPledge {
  border: solid 1px #7a7a7a;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 22px;
}

.ModalPledge_Top {
  padding: 34px 25px;
  border-bottom: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 26px auto auto;
      grid-template-columns: 26px auto auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
      grid-template-areas: "A A B" "D C C";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 43.125em) {
  .ModalPledge_Top {
    padding-top: 20px;
    padding-bottom: 20px;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
        grid-template-areas: "A A" "C C" "B B";
  }
}

.ModalPledge_Top_Radio {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: A;
  margin-bottom: 12px;
}

.ModalPledge_Top_Left {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: B;
  justify-self: flex-end;
  margin-bottom: 12px;
}

.ModalPledge_Top_Left p {
  margin: 0;
}

@media (max-width: 43.125em) {
  .ModalPledge_Top_Left {
    justify-self: flex-start;
  }
}

.ModalPledge_Top_Text {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: C;
}

.ModalPledge_Top_Text p {
  margin: 0;
  padding-left: 16px;
  font-size: 15px;
  color: #7a7a7a;
  font-weight: 500;
  line-height: 1.7;
}

@media (max-width: 43.125em) {
  .ModalPledge_Top_Text p {
    padding: 0;
    margin-bottom: 30px;
  }
}

.ModalPledge_Bottom {
  height: 0;
  padding: 0;
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: calc(100% - 260px) auto auto;
      grid-template-columns: calc(100% - 260px) auto auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
      grid-template-areas: "A B C";
}

@media (max-width: 43.125em) {
  .ModalPledge_Bottom {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: 70px auto;
        grid-template-rows: 70px auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
        grid-template-areas: "A A" "B C";
  }
}

.ModalPledge_Bottom p {
  display: block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: A;
}

@media (max-width: 43.125em) {
  .ModalPledge_Bottom p {
    text-align: center;
  }
}

.ModalPledge_Bottom .input {
  position: relative;
  height: 100%;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: B;
}

.ModalPledge_Bottom .input .placeholder {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 20px;
  color: #7a7a7a;
  font-weight: 700;
  font-size: 17px;
}

.ModalPledge_Bottom .input input {
  height: 100%;
  border-radius: 27px;
  width: 110px;
  border: solid 1px #7a7a7a;
  padding-left: 30px;
  color: black;
  font-weight: 700;
  font-size: 16px;
}

@media (max-width: 43.125em) {
  .ModalPledge_Bottom .input input {
    width: 80px;
  }
}

.ModalPledge_Bottom .input input:focus {
  outline: none;
  border: solid 1px #3cb4ac;
}

.ModalPledge_Bottom .input.Error input {
  border: solid 3px red;
}

.ModalPledge_Bottom button {
  justify-self: flex-end;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: C;
}

@media (max-width: 43.125em) {
  .ModalPledge_Bottom button {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.ModalPledge_Top.OutOfStock {
  opacity: 0.4;
}

.ModalPledge_Top.OutOfStock .ModalPledge_Top_Radio .CustomRadioGroup:hover {
  cursor: auto;
}

.ModalPledge_Top.OutOfStock .ModalPledge_Top_Radio .CustomRadioGroup:hover h3 {
  color: black;
}

.ModalPledge_Top.OutOfStock .ModalPledge_Top_Radio .CustomRadioGroup:hover .CustomRadioBtn {
  border: solid 1px #7a7a7a;
}

.ModalPledge.Active {
  border: solid 3px #3cb4ac;
}

.ModalPledge.Active .ModalPledge_Top {
  border-bottom: solid 1px #7a7a7a;
}

.ModalPledge.Active .ModalPledge_Bottom {
  padding: 27px 32px;
  height: auto;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: 'Commissioner', sans-serif;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
  background-color: #FAFAFA;
}

@media (max-width: 64rem) {
  *.HideForTablet {
    display: none;
  }
}

@media (min-width: 64.0625rem) {
  *.HideForDesktop {
    display: none;
  }
}

.Block {
  width: 50.9vw;
  min-height: 50px;
  min-width: 325px;
  margin: 0 auto;
  -webkit-transform: translateY(-94px);
          transform: translateY(-94px);
}

@media (max-width: 64rem) {
  .Block {
    width: 70vw;
  }
}

.button {
  height: 55px;
  color: white;
  font-weight: 700;
  font-size: 15px;
  padding: 20px 40px;
  background-color: #3cb4ac;
  border-radius: 27px;
  border: none;
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 43.125em) {
  .button {
    height: 50px;
    border-radius: 25px;
  }
}

.button:hover {
  background-color: #147b74;
  cursor: pointer;
}

.button_inactive {
  background-color: #7a7a7a;
}

.button_inactive:hover {
  background-color: #7a7a7a;
  cursor: default;
}
/*# sourceMappingURL=style.css.map */